<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"    rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="bg.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% if(nav === true){ %>
    <div class="w-full  mx-auto px-10 py-3 flex justify-between items-center bg-zinc-700 text-white">
      <a href="#" class="text-red-600 font-bold text-3xl flex items-center space-x-1">
        <img class="w-12 mx-2" src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png" >
        <span>Pinterest</span>
    </a>
      
      <div class="flex gap-10 justify-between items-center">
        <a class=" hover:text-red-600 transition duration-300" href="/profile">Profile</a>
        <a class=" hover:text-red-600 transition duration-300" href="/feed">Feed</a>
        <a  class="px-3 py-2 bg-red-700 text-white rounded-lg hover:bg-red-800 transition duration-300" href="/logout">Logout</a>
      </div>
    </div>



  <% } %>
